<%= form_for [@project, @job] do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field-group">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field-group">
    <%= form.label :hours %>
    <%= form.number_field :hours, step: :any %>
  </div>
  <div class="field-group">
    <%= form.label :rate %>
    <%= form.number_field :rate, step: :any %>
  </div>
    <%= form.submit  %>

<% end %>
