<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @job.hours %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @job.rate %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @project.address, client_project_path(@project.client, @project)%>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to @project.client.name, client_path(@project.client)%>
</p>

<%= link_to 'Edit', edit_project_job_path(@project, @job) %> |
<%= link_to 'Back', project_jobs_path(@project) %>
