<h1><%= @client.name %></h1>

<h3><%= @client.phone %></h3>
<h3><%= @client.billing_address %></h3>
<% if @client.projects.any? %>
<h3><%= @client.name %>'s Projects</h3>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to "Project "+project.address, client_project_path(@client, project) %></li>
  <% end %>
</ul>
<% end %>
<hr>
<%= link_to "Add a new project for this client", new_client_project_path(@client) %></br>
<%= link_to "Delete", client_path(@client), :data => {:confirm => "Are you sure? This deletes the client and all associated projects and can not be undone.", :method => "delete"} %>
