<%= render "layouts/errors", :object => @project %>


<%= form_for [@client, @project] do |f| %>
  <div class="field-group">
    <%= f.label :job_number %>
    <%= f.text_field :job_number %>
  </div>
  <div class="field-group">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="field-group">
    <%= f.label :unit %>
    <%= f.text_field :line2 %>
  </div>
  <div class="field-group">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field-group">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field-group">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>
  <div class="field-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field-group">
    <%= f.label :price %>
    <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any %>
  </div>
  <%= f.submit  %>
<% end %>
