
<h1>John Martin</h1>
<h2>Structural Engineering, Inc.</h2>
<div class="row">
  <div class="col-md-6">
    9221 April Lane</br>Mokena, Illinois 60448
  </div>
  <div class="col-md-6">
    Phone (708) 479-8133
  </div>
</div>
<div class="row">
  <h2>invoice</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <p><%= @client.name %></p>
    <p><%= @client.billing_address %></p>
  </div>
  <div class="col-md-6">
    <p><%= @date %></p>
    <p>Job #<%= @job_number %></p>
  </div>
</div>
<div class="row">
  <p>RE: <%= @project.address %></p>
</div>
<div class="row">
  
</div>
Description of Work			Quantity		Rate			          Total Due

{{ledger_item.each do}}

[description]		 		[quantity] 	$[rate]				$[price]

{{end}}
_____________________________________________________________________________________

Total Due Upon Receipt…..…………………………………………………………………..…..$[total due]

Dear [client.name.first],

This is our invoice for the above-referenced project. Please send a check payable to John Martin Structural Engineering, Inc. for the total due. If you prefer to pay online, we can accept payments electronically
through Chase Quickpay. The email address to use is: jgorski.jmse@gmail.com.

It was a pleasure working with you. If you have any questions about this project, or if you are in further need of our assistance, please feel free to call me. Thank you for calling John Martin Structural Engineering.

Sincerely,
John Martin Structural Engineering, Inc.

Jean F. Gorski

Jean F. Gorski Secretary-Treasurer
