<h1><%= @project.address %></h1>

<div class="row">
	<div class="col-md-6">
		<h3>Client: <%= link_to @client.name, client_path(@client) %></h3>
		<h3>Description: <%= @project.description %></h3>
		<h3>Price: $<%= @project.price %></h3>
		<h3>File Name: <%= @project.address %> - <%= @client.name%> </h3>
		<%= link_to "Edit this Project", edit_client_project_path(@client, @project) %></br>
		<%= link_to "Delete", client_project_path(@client, @project), :data => {:confirm => "Are you sure? This deletes the entire project and can not be undone.", :method => "delete"} %>
	</div>
	<div class="col-md-6">
		<table>
			<tr><td class="td-head"><h3>Jobs for project:</h3></td></tr>
			<% @project.jobs.each do |job| %>
			<tr>
				<td class="td-wide"><%= job.description %></td>
				<td class="td-narrow"><%= link_to image_tag("edit.png", title: "edit job", alt: "edit job"), edit_project_job_path(@project, job) %>
					<%= link_to image_tag("close.png", title: "delete job job", alt: "delete job"), project_job_path(@project, job), method: :delete, data: { confirm: 'Delete this job?' } %></td>
			</tr>
			<% end %>
		</table>
			<%= link_to "View Invoice", project_invoice_path(@project)+'.pdf' %></br>
			<%= link_to "Add Job", new_project_job_path(@project) %></br>
	</div>
</div>

<% if false %>
<span id="invoice"><%= link_to "Generate Invoice", client_project_path(@client, @project) %></span></br>
<% end %>
