<h1><%= @project.address %></h1>

<h3>Client: <%= link_to @client.name, client_path(@client) %></h3>
<h3>Description: <%= @project.description %></h3>
<h3>Price: $<%= @project.price %></h3>
<h3>File Name: <%= @project.address %> - <%= @client.name%> </h3>

<h2>Jobs for project:</h2>
<ul>
	<% @project.jobs.each do |job| %>
	<li><%= link_to job.description, project_job_path(@project, job) %></li>
	<% end %>
</ul>

<span id="invoice"><%= link_to "Generate Invoice", client_project_path(@client, @project) %></span></br>
<%= link_to "HTML invoice", project_invoice_path(@project) %></br>
<%= link_to "Add Job", new_project_job_path(@project) %></br>
<%= link_to "Edit this Project", edit_client_project_path(@client, @project) %></br>
<%= link_to "Delete", client_project_path(@client, @project), :data => {:confirm => "Are you sure? This deletes the entire project and can not be undone.", :method => "delete"} %>

<script>
document.getElementById('invoice').onclick=function(){
	download("hello world", "<%= @project.address %>.txt", "text/plain");
}
</script>
